@model IEnumerable<Arsenal.Models.Stadium.StadiumListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StadiumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StadiumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StadiumCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StadiumLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StadiumId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StadiumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StadiumCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StadiumLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StadiumId }) |
            @Html.ActionLink("Details", "Details", new { id = item.StadiumId }) |
            @Html.ActionLink("Delete", "Delete", new { id= item.StadiumId })
        </td>
    </tr>
}

</table>
